
        .chat-window-view {

            border: 1px solid #ccc;
            background-color: white;

            box-shadow: 0 0 10px rgba(0,0,0,0.2);
        }

        .chat-header {

            padding: 10px;
            cursor: move; 
        }

        .chat-body-{{$row->id}} {
            height: calc(100vh - 120px - 51px - 42px);
            overflow-y: auto;
            padding: 10px;
        }

        .chat-footer {
            padding: 10px;
            border-top: 1px solid #ccc;
        }

        .chat-input {
            width: 100%;
            display: flex;

        }

        .chat-input input {
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
        }

.media-chat {
    padding-right: 64px;
    margin-bottom: 0;
}

.media {
    padding: 16px 12px;
    -webkit-transition: background-color .2s linear;
    transition: background-color .2s linear;
}
.avatar {
    position: relative;
    display: inline-block;
    width: 36px;
    height: 36px;
    line-height: 36px;
    text-align: center;
    border-radius: 100%;
    background-color: #f5f6f7;
    color: #8b95a5;
    text-transform: uppercase;
}

.media-chat .media-body {
    -webkit-box-flex: initial;
    flex: initial;

}

.media-body {
    min-width: 0;
    position: relative;
    padding: 6px 8px;

    background-color: #f5f6f7;
    border-radius: 3px;
    font-weight: 100;

    color: #000;
    white-space: normal;
    display: block;
    margin-bottom: 10px;
}

.media-chat .media-body p {
    position: relative;
    padding: 6px 8px;

    background-color: #f5f6f7;
    border-radius: 3px;
    font-weight: 100;

    color: #000;
    white-space: normal;
}



.media-chat .media-body p.meta {
    background-color: transparent !important;
    padding: 0;
    opacity: .8;
}

.card-header:first-child {
    border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0 0;
}


.chat-header {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    padding: 15px 20px;

    border-bottom: 1px solid rgba(77,82,89,0.07);

    color: #4d5259;
}

.chat-header .chat-title {
    padding: 0;
    border: none;
}

h4.chat-title {
    font-size: 17px;
}

.chat-header>*:last-child {
    margin-right: 0;
}

.chat-header>* {
    margin-left: 8px;
    margin-right: 8px;
}

.media-chat.media-chat-reverse  p {
    clear: right;
    background-color: #48b0f7;
    color: #fff;
}


