/*
* General
*/
html{
  padding: 0px !important;
}
/*
* Qlik Items
*/
#help_icon{
  font-size: 0.7em;
  vertical-align: top;
}
/*set iframe size*/
.qi_iframe{
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 8px;
  display: block;
}
.qi_iframe_container{
  height: 94%;
  width: 100%;
}
.box{
  height: 100%;
  padding:8px
}
#content_section .qi_box{
  height: calc(100vh - 50px - 51px - 42px);
  width: 100%;
}
#table_dashboard a.btn-detail{
  /* display:none; */
}
#table_dashboard tbody tr td:last-child .button_action{
  text-align:center !important;
}
h1 .qlik_logo{
  width:25px;
}
/*
* Sidebar menu
*/
.menu.qlik_logo{
  width:14px;
  margin-right:6px;
}
.my-collapse-sidebar{
  cursor: pointer;
}

/*
* Public page
*/
.public-wrapper .qi_iframe{
  width: 100%;
  height: 98vh;
}

/* user's groups */
.success-icon{
  color: #00a65a;
  font-size: 2em;
}


.navbar-nav > .notifications-menu > .dropdown-menu,
.navbar-nav > .assistance-menu > .dropdown-menu,
.navbar-nav > .messages-menu > .dropdown-menu,
.navbar-nav > .tasks-menu > .dropdown-menu {
  width: 600px;
  padding: 0 0 0 0;
  margin: 0;
  top: 100%;
}
.navbar-nav > .notifications-menu > .dropdown-menu > li,
.navbar-nav > .assistance-menu > .dropdown-menu > li,
.navbar-nav > .messages-menu > .dropdown-menu > li,
.navbar-nav > .tasks-menu > .dropdown-menu > li {
  position: relative;
}
.navbar-nav > .notifications-menu > .dropdown-menu > li.header,
.navbar-nav > .assistance-menu > .dropdown-menu > li.header,
.navbar-nav > .messages-menu > .dropdown-menu > li.header,
.navbar-nav > .tasks-menu > .dropdown-menu > li.header {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  background-color: #ffffff;
  padding: 7px 10px;
  border-bottom: 1px solid #f4f4f4;
  color: #444444;
  font-size: 14px;
}
.navbar-nav > .notifications-menu > .dropdown-menu > li.footer > a,
.navbar-nav > .assistance-menu > .dropdown-menu > li.footer > a,
.navbar-nav > .messages-menu > .dropdown-menu > li.footer > a,
.navbar-nav > .tasks-menu > .dropdown-menu > li.footer > a {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  font-size: 12px;
  background-color: #fff;
  padding: 7px 10px;
  border-bottom: 1px solid #eeeeee;
  color: #444 !important;
  text-align: center;
}
@media (max-width: 991px) {
  .navbar-nav > .notifications-menu > .dropdown-menu > li.footer > a,
  .navbar-nav > .assistance-menu > .dropdown-menu > li.footer > a,
  .navbar-nav > .messages-menu > .dropdown-menu > li.footer > a,
  .navbar-nav > .tasks-menu > .dropdown-menu > li.footer > a {
    background: #fff !important;
    color: #444 !important;
  }
}
.navbar-nav > .notifications-menu > .dropdown-menu > li.footer > a:hover,
.navbar-nav > .assistance-menu > .dropdown-menu > li.footer > a:hover,
.navbar-nav > .messages-menu > .dropdown-menu > li.footer > a:hover,
.navbar-nav > .tasks-menu > .dropdown-menu > li.footer > a:hover {
  text-decoration: none;
  font-weight: normal;
}
.navbar-nav > .notifications-menu > .dropdown-menu > li .menu,
.navbar-nav > .assistance-menu > .dropdown-menu > li .menu,
.navbar-nav > .messages-menu > .dropdown-menu > li .menu,
.navbar-nav > .tasks-menu > .dropdown-menu > li .menu {
  /*max-height: 200px;*/
  margin: 0;
  padding: 0;
  list-style: none;
  overflow-x: hidden;
}
.navbar-nav > .notifications-menu > .dropdown-menu > li .menu > li > a,
.navbar-nav > .assistance-menu > .dropdown-menu > li .menu > li > a,
.navbar-nav > .messages-menu > .dropdown-menu > li .menu > li > a,
.navbar-nav > .tasks-menu > .dropdown-menu > li .menu > li > a {
  display: block;
  white-space: nowrap;
  /* Prevent text from breaking */
  border-bottom: 1px solid #f4f4f4;
}

.navbar-nav > .assistance-menu > .dropdown-menu > li .menu > li > a:hover {
  background: #f4f4f4;
  text-decoration: none;
}

.navbar-nav > .assistance-menu > .dropdown-menu > li .menu > li > a
 {
  color: #444444;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 10px;
}

.navbar-nav > .assistance-menu > .dropdown-menu > li .menu > li > a > .glyphicon,

.navbar-nav > .assistance-menu > .dropdown-menu > li .menu > li > a > .fa,

.navbar-nav > .assistance-menu > .dropdown-menu > li .menu > li > a > .ion {

  width: 20px;
}

.sidebar-menu>li>a {
  text-decoration: none;
}

.logo {
  text-decoration: none;
}

th > a {
  text-decoration: none;
}

.sidebar-menu .treeview-menu > li > a {
  text-decoration: none;
}